.dark-mode .force-graph-container canvas {
  background: #3b4352 !important;
}

.dark-mode .overlay {
  background-color: rgba(100, 100, 100, 0.3);
}

.dark-mode .modal-close {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.overlay {
  z-index: 98;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--kb-shadow-bg);
  backdrop-filter: blur(4px);
  display: none;
}

.overlay.show {
  display: block;
}

.graph-view__modal {
  z-index: 99;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: var(--main-bg);
  box-shadow: -5px -5px 15px -3px var(--kb-shadow-bg),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  display: flex;
  align-items: center;
  justify-content: center;
}

.graph-view__search-wrap {
  margin-right: 10px;
}

.graph-view__search-wrap input {
  width: 300px;
}

.graph-view__search-results {
  z-index: 200;
}

.graph-view__modal-hint {
  color: var(--kb-text-inverse-color);
  font-size: 1.5em;
  margin-top: 0.5em;
}

.modal-close,
.modal-scale {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  border: 0;
  background: none;
  color: var(--kb-text-color);
  cursor: pointer;
}

.modal-close svg,
.modal-scale svg {
  width: 20px;
  height: 20px;
}

.modal-close path,
.modal-scale path {
  fill: currentColor;
}

.modal-scale {
  right: 30px;
}

.modal-minimized .modal-scale svg,
.modal-minimized .modal-close svg {
  width: 15px;
  height: 15px;
}

.modal-minimized .modal-scale {
  right: 25px;
}

.modal-body .node,
.modal-body .text {
  cursor: pointer;
}
